
/*body{*/
    /*background-color: #FFFFFF;*/
/*}*/

*{
    margin:0;
    padding:0;
}

a,a:focus,a:active{
    text-decoration: none;
    color: #EEEEEE;
}

.icon-search:before {
    content:'';
}

.icon-search {
    background: url(../../static/imgs/index/search.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 74%;
    margin-left: 10px;

}

.wt_containerfluid {
    padding: 0;
}

.flexcontainer {
    margin: 0 1rem 2rem;
    display: flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}

.flexcontainer > div{
    width: 4rem;
    height: 6rem;
    text-align: center;
}

.flexcontainer > div img{
    margin-bottom: 1rem;
    font-size:2rem;
}

.flexcontainer > div span{
    font-size:1rem;
    color: #333333;
    font-weight:500;
}
.flexcontainer_bottom {
    margin-bottom: 1.5rem;
}

.input_control {
    margin: 1rem 1rem 1.5rem 1rem;
}

.input_control > input, .input_control > input:focus {
    background-color: #F6F6F6;
    opacity:0.6;
    border: none;
    outline: none;
    box-shadow: none;
}

.banner {
    /*width: 100%;*/
    height: 10.5rem;
    margin: 1.5rem 1rem;
    background-color: #333333;
}

.recommond{
    width: 100%;
    /*height: 40.5rem;*/
    background-color: #F6F6F6;
    text-align: center;
}

.rec_left_img{
    display: inline-block;
    width: 36px;
    background: url(../../static/imgs/index/left.png) no-repeat;
    background-size: 70%;
    margin-top: 7px;
}
.rec_right_img{
    display: inline-block;
    width: 36px;
    margin-left: 8px;
    background: url(../../static/imgs/index/right.png) no-repeat;
    background-size: 70%;
    margin-top: 7px;
}
.rec_font {
    font-size: 18px;
}
.recommond_title{
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.recommond_list{
    display: flex;
    flex-flow:row wrap;
    justify-content:space-around;

}

.recommond_list > div {
    width: 14.5rem;
    height: 23.5rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    background-color: #FFFFFF;
    border-radius:1rem 1rem 0 0;
}

.list_img{
    width: 12.5rem;
    height: 13rem;
    margin: 0 auto;
    background: url(../../static/imgs/index/liulian.png) no-repeat;
    background-size: 100%;
}

.list_title {
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #333333;
    font-weight:500;
    font-size: 13px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.list_info {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}

.list_info > i{
    color: #FF4C46;
    font-size: 10px;
    font-style: normal;
}

.list_info > i >span{
    color: #FF4C46;
    font-size: 18px;
    font-style: normal;
}

i.sale, i.sale>span{
     color: #666666;
     font-size: 14px;
 }

.carousel-indicators{
    bottom: -18px;
}





