<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>快速注册</title>
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/zui/1.8.1/css/zui.min.css">
    <link rel="stylesheet" href="../css/wt_login.css">
</head>
<style>
    input::-webkit-input-placeholder {
        font-weight:400;
        color:rgba(153,153,153,1);
    }
</style>
<body>

<div class="container-fluid wt_containerfluid">
    <div class="input-control has-icon-left wt_inputcontrol">
        <input id="inputAccountExample1" type="text" class="form-control wt_formcontrol" placeholder="请输入手机号码">
        <label for="inputAccountExample1" class="input-control-icon-left"><i class="icon icon-user"></i></label>
    </div>
    <div class="input-control has-icon-left has-icon-right">
        <input id="inputEmailExample1" type="email" class="form-control wt_formcontrol" placeholder="请输入验证码">
        <label for="inputEmailExample1" class="input-control-icon-left"><i class="icon icon-key "></i></label>
        <label for="inputEmailExample1" class="input-control-icon-right"><i class="icon icon-check"></i></label>
    </div>
    <!--<div class="input-control has-icon-right">-->
        <!--<input id="inputPasswordExample1" type="password" class="form-control wt_formcontrol" placeholder="请输入验证码">-->
        <!--<label for="inputPasswordExample1" class="input-control-icon-right"><i class="icon icon-key"></i></label>-->
    <!--</div>-->
</div>

<!-- ZUI Javascript 依赖 jQuery -->
<script src="https://cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/zui/1.8.1/js/zui.min.js"></script>

</body>
</html>
