/*

*/

*{
    padding: 0;margin: 0;
}

.wt_containerfluid {
    padding: 7rem 1rem 0 1rem ;
}

.wt_formcontrol , .wt_formcontrol:focus{
    border-radius:0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    border-bottom: 1px solid #dddddd;
    padding: 1rem 0.66rem;
}

.icon {
    font-size: 15px;
}
.icon-user {
    width: 2rem;
    height: 2rem;
    background: url(../../../static/imgs/login/login_user.png) no-repeat;
    background-size: 95%;
}

.icon-user:before {
    content: '';
}

.icon-key {
    width: 2rem;
    height: 2rem;
    background: url(../../../static/imgs/login/login_pw.png) no-repeat;
    background-size: 95%;
}

.icon-key:before {
    content: '';
}

.wt_inputcontrol {
    margin-bottom: 2rem;
}

.input-control-icon-left {
    opacity: 1;
}

.icon-check {
    width: 14rem;
    height: 4rem;
    padding: 0.5rem;
    border: 1px solid rgba(230,230,230,1);
    border-radius: 0rem;
}

.icon-check:before {
    content: '获取验证码';
    color: #999999;
    font-weight:400;
    color:rgba(153,153,153,1);
}

.input-control-icon-right {
    width: 100%;
    text-align: right;
}

.loginBtn , .loginBtn:focus, .loginBtn:hover{
    margin-top: 4rem;
    border-radius: 4rem;
    background-color: transparent;
    background-image:url(../../../static/imgs/login/login_btn.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    outline-offset: 0;
    width:100%;
    height: 4rem;
}
